@import url(./__background/cover__background.css);
@import url(./__overlay/cover__overlay.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);

.cover {
    padding-bottom: 92px;
    margin-top: 0;
}

.cover:hover {
    cursor: pointer;
}

.cover:hover .cover__overlay::before {
    opacity: 0.8;
    transition-property: opacity;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    transition-delay: 0s;
}
