.place__heading {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: normal;
    justify-content: normal;
    align-items: normal;
    margin-bottom: 48px;
}

@media screen and (max-width: 767px) {
    .place__heading {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: normal;
        justify-content: normal;
        align-items: flex-start;
        margin-bottom: 32px;
    }
}

@media screen and (max-width: 320px) {
    .place__heading {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: normal;
        justify-content: normal;
        align-items: flex-start;
        margin-bottom: 32px;
    }
}