.lead__caption {
    max-width: 984px;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    font-style: normal;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

@media screen and (max-width: 1279px) {
    .lead__caption {
        max-width: 928px;
    }
}

@media screen and (max-width: 1023px) {
    .lead__caption {
        max-width: 768px;
        padding-left: 24px;
    }
}

@media screen and (max-width: 767px) {
    .lead__caption {
        max-width: 320px;
        padding-left: 16px;
    }
}

@media screen and (max-width: 320px) {
    .lead__caption {
        max-width: 320px;
        padding-left: 16px;
    }
}