.cover__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    width: 560px;
    position: absolute;
    z-index: 3;
    left: 312px;
    bottom: 343px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 32px;
}

@media screen and (max-width: 1024px) {
    .cover__title {
        top: 195px;
        left: 232px;
        bottom: 293px;
    }
}

@media screen and (max-width: 768px) {
    .cover__title {
        top: 115px;
        left: 104px;
        bottom: 213px;
    }
}

@media screen and (max-width: 320px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        max-width: 288px;
        left: 16px;
        top: 33px;
    }
}