.place {
    max-width: 984px;
    margin-bottom: 80px;
    padding: 0;
}

.place:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width: 1279px) {
    .place {
        max-width: 928px;
        margin-bottom: 80px;
    }
}

@media screen and (max-width: 1023px) {
    .place {
        max-width: 720px;
        margin-bottom: 73px;
    }
}

@media screen and (max-width: 767px) {
    .place {
        max-width: 320px;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 320px) {
    .place {
        max-width: 320px;
        margin-bottom: 50px;
    }
}