.footer {
    max-width: 1184px;
    padding-bottom: 24px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: normal;
    align-items: normal;
}

@media screen and (max-width: 1279px) {
    .footer {
        max-width: 928px;
    }
}

@media screen and (max-width: 1023px) {
    .footer {
        max-width: 720px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 186px;
        padding: 0 118px 24px 16px;
    }
}